<h1>Restaurant manager</h1>
<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
<h2>All restaurants</h2>
<% @restaurants.each do |restaurant| %>
  <hr>
  <div>
    <%= link_to restaurant_path(restaurant) do %>
      <h3><%= restaurant.name %> (<%= restaurant.address %>)</h3>
    <% end %>
  </div>
<% end %>
